<div class="raceAccordion widthFull" *ngIf="race">
    <div class="row">
        <div class="col-sm-1">
            <input type="file" #imageUpload id="imageUpload" (change)="addImage($event)" style="display: none;" accept="image/png, image/gif, image/jpeg" >
            <img [src]="race.HasImage ? raceImageBasePath + race.Id + '.png' : noImagePath "
            class="responsiveIcon" (dblclick)="imageUpload.click()"/>
        </div>
        <div class="col-sm-6 raceName">
            <span class="header4" [innerText]="race.Name"></span>
        </div>
        <div class="col-sm-2 offset-2 ">
            <p class="centerlize bold">Created By:</p>
            <p class="centerlize bold" style="color: white;" [innerText]="race.Username"></p>
        </div>
        <div class="col-sm-1 centerlize header4 click"  (click)="detailsClick()">
            <i [class]=" detailsToggle ? 'bi bi-arrow-up-circle' : 'bi bi-arrow-down-circle'"></i>
        </div>
    </div>
</div>
<div [@detailsToggle] *ngIf="detailsToggle && raceDetail" class="raceDetailBox">
    <div class="row p-2 justify-content-center">
        <div class="col-sm-5">
            <div >
                <label>Race Name</label>
                <input class="widthFull" [maxlength]="30"  placeholder="Name"  required
                    [(ngModel)]="race.Name">
            </div>
            <div class="mt-2">
                <label>Speed</label>
                <input type="number" class="widthFull" placeholder="Speed" required [(ngModel)]="raceDetail.Speed">
            </div>
            <div class="mt-2">
                <label>Size</label>
                <input class="widthFull" placeholder="Size" required [(ngModel)]="raceDetail.Size">
            </div>
        </div>
        <div class="col-sm-5">
            <button class="btn btn-block  customBlockButton" (click)="featuresClick()">Features</button>
            <app-features-list [features]="raceDetail.Features"></app-features-list>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-10">
            <label>Description</label>
            <textarea class="form-control" [(ngModel)]="raceDetail.Description" rows="10"></textarea>
        </div>
    </div>
    <div class="row justify-content-center mr-2">
        <div class="col-sm-10">
            <button class="btn btn-block mtr1 customBlockButton" (click)="save()">Save</button>
        </div>
    </div>
    <div class="row justify-content-center mr-2">
        <div class="col-sm-10">
            <button class="btn btn-primary mtr1 widthFull bold p-0" (click)="share()">Share</button>
        </div>
    </div>
    <div class="row justify-content-center mr-2 mbr2">
        <div class="col-sm-10">
            <button class="btn btn-danger mtr1 widthFull bold p-0" (click)="deleteRace()">Delete</button>
        </div>
    </div>
</div>