<div class="card traitSheet mbr2" *ngIf="traitDetail">
    <div class="row justify-content-center">
        <div class="col-sm-5 mtr1">
            <button class="btn btn-block  customBlockButton" (click)="featuresClick()">Features</button>
            <app-features-list [features]="traitDetail.Features" [height]="300"></app-features-list>
        </div>
        <div class="col-sm-5">
            <div class="mbr1">
                <label>Trait Name</label>
                <input class="widthFull " placeholder="Name" [(ngModel)]="traitDetail.Name">
            </div>
            <div class="mbr1">
                <label>Description</label>
                <textarea class="form-control" [(ngModel)]="traitDetail.Description" rows="10"></textarea>
            </div>

        </div>
        <div class="row justify-content-center mr-2">
            <div class="col-sm-10">
                <button class="btn btn-block mtr1 customBlockButton" (click)="save()">Save</button>
            </div>
        </div>
        <div class="row justify-content-center mr-2">
            <div class="col-sm-10">
                <button class="btn btn-primary mtr1 widthFull bold p-0" (click)="share()">Share</button>
            </div>
        </div>
        <div class="row justify-content-center mr-2 mbr2">
            <div class="col-sm-10">
                <button class="btn btn-danger mtr1 widthFull bold p-0" (click)="deleteTrait()">Delete</button>
            </div>
        </div>
    </div>
</div>
