<div class="profile-page mt-5 container">
    <div class="row justify-content-between">
        <div class="col-sm-3">
            <input type="file" #imageUpload id="imageUpload" (change)="addImage($event)" style="display: none;" accept="image/png, image/gif, image/jpeg" >
            <button [innerText]="currentUser?.HasImage ? 'Update Image' :'Add Image'" class="blockPurpleButton mb-3"
                (click)="imageUpload.click()"></button>
            <img [src]="currentUser?.HasImage ? profileImageBasePath + currentUser?.Id + '.png' : noImagePath"
                class="responsive" />
        </div>
    </div>
</div>