<div class="profile-page mt-5 container">
    <div class="row justify-content-center gap-5">
        <div class="col-sm-3">
            <input type="file" #imageUpload id="imageUpload" (change)="addImage($event)" style="display: none;" accept="image/png, image/gif, image/jpeg" >
            <button [innerText]="currentUser?.HasImage ? 'Update Image' :'Add Image'" class="blockPurpleButton mb-3"
                (click)="imageUpload.click()"></button>
            <img [src]="currentUser?.HasImage ? profileImageBasePath + currentUser?.Id + '.png' : noImagePath"
                class="responsive" />
        </div>
        <div class="col-sm-4">
            <div>
                <p class="smallLabel">Email:</p>
                <p [innerText]="currentUser?.Email" class="mlr-2"></p>
            </div>
            <div>
                <p class="smallLabel">Username:</p>
                <p [innerText]="currentUser?.Username" class="mlr-2"></p>
            </div>
            <div>
                <p class="smallLabel">Account Create Date:</p>
                <p [innerText]="currentUser?.CreatedDate" class="mlr-2"></p>
            </div>
            <div>
                <p class="smallLabel">Last Logged Time:</p>
                <p [innerText]="currentUser?.LastActive" class="mlr-2"></p>
            </div>
            <button class="blockPurpleButton" (click)="logout()">Logout</button>
        </div>
    </div>
</div>