<div class="character-abilities" *ngIf="load">
    <div class="row justify-content-center mtr1">
        <div class="col-sm-2">
            <label>Strength</label>
            <input type="number" class="form-control abilityTextbox" [(ngModel)]="abilities['Strength'].Feature.Value"
                placeholder="Strength" (change)="calculateModifier(abilities['Strength'].Feature.Value,'Strength')">
                <span>Modifier: <p [innerText]="modifierValue['Strength']" class="modifierLabel"></p></span>
        </div>
        <div class=" col-sm-2">
            <label>Dexterity</label>
            <input type="number" class="form-control abilityTextbox" [(ngModel)]="abilities['Dexterity'].Feature.Value"
                placeholder="Dexterity" (change)="calculateModifier(abilities['Dexterity'].Feature.Value,'Dexterity')">
                <span>Modifier: <p [innerText]="modifierValue['Dexterity']" class="modifierLabel"></p></span>
        </div>
    </div>
    <div class="row justify-content-center mtr2">
        <div class="col-sm-2">
            <label>Constitution</label>
            <input type="number" class="form-control abilityTextbox" [(ngModel)]="abilities['Constitution'].Feature.Value"
                placeholder="Constitution" (change)="calculateModifier(abilities['Constitution'].Feature.Value,'Constitution')">
                <span>Modifier: <p [innerText]="modifierValue['Constitution']" class="modifierLabel"></p></span>
        </div>
        <div class="col-sm-2">
            <label>Charisma</label>
            <input type="number" class="form-control abilityTextbox" [(ngModel)]="abilities['Charisma'].Feature.Value"
                placeholder="Charisma" (change)="calculateModifier(abilities['Charisma'].Feature.Value,'Charisma')">
            <span>Modifier: <p [innerText]="modifierValue['Charisma']" class="modifierLabel"></p></span>
        </div>
    </div>
    <div class="row justify-content-center mtr2">
        <div class="col-sm-2">
            <label>Intelligence</label>
            <input type="number" class="form-control abilityTextbox" [(ngModel)]="abilities['Intelligence'].Feature.Value"
                placeholder="Intelligence" (change)="calculateModifier(abilities['Intelligence'].Feature.Value,'Intelligence')">
                <span>Modifier: <p [innerText]="modifierValue['Intelligence']" class="modifierLabel"></p></span>
        </div>
        <div class="col-sm-2">
            <label>Wisdom</label>
            <input type="number" class="form-control abilityTextbox" [(ngModel)]="abilities['Wisdom'].Feature.Value"
                placeholder="Wisdom" (change)="calculateModifier(abilities['Wisdom'].Feature.Value,'Wisdom')">
                <span>Modifier: <p [innerText]="modifierValue['Wisdom']" class="modifierLabel"></p></span>
        </div>
    </div>
    <div class="row justify-content-center mtr1">
        <div class="col-sm-4">
            <button class="btn btn-block customBlockButton mtr2" (click)="save()">Save</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <app-character-feature-list [(characterFeatures)]="asd" [height]="500"></app-character-feature-list>
    </div>
</div>
<button (click)="zzz()">tttttttttttt</button>