<div class="card" [style]="'height: ' + height + 'px;overflow-y: scroll;'">
<ul class="list-group feature-list">
    <div *ngFor="let item of features">
        <li class="list-group-item"><p>asdasd</p></li>
    </div>
    <li class="list-group-item t"><p>asdsadsa</p></li>
    <p>zzzzzz</p>
    <li class="list-group-item"><p>asdsadsa</p></li>
    <li class="list-group-item"><p>asdsadsa</p></li>
    <li class="list-group-item"><p>asdsadsa</p></li>
    <li class="list-group-item"><p>asdsadsa</p></li>
    <li class="list-group-item"><p>asdsadsa</p></li>
    <li class="list-group-item"><p>asdsadsa</p></li>
    <li class="list-group-item"><p>asdsadsa</p></li>
    <li class="list-group-item"><p>asdsadsa</p></li>
    <li class="list-group-item"><p>asdsadsa</p></li>
    <li class="list-group-item"><p>asdsadsa</p></li>
    <li class="list-group-item"><p>asdsadsa</p></li>
  </ul>

</div>