<div class="container character-creation-page ">
    <nav class="mtr2">
        <div class="nav nav-tabs creationTab">
            <button class="btn btn-block creationTabButton"
                [ngClass]="clickedTab == 0 ? 'selectedTabButton' : ''" (click)="changeTab(0)">Basics</button>
            <button class="btn btn-block creationTabButton" [ngClass]="clickedTab == 1 ? 'selectedTabButton' : ''"
                [disabled]="!characterId" (click)="changeTab(1)">Apperance</button>
            <button class="btn btn-block creationTabButton" [ngClass]="clickedTab == 2 ? 'selectedTabButton' : ''"
                [disabled]="!characterId" (click)="changeTab(2)">Details</button>
            <button class="btn btn-block creationTabButton" [ngClass]="clickedTab == 3 ? 'selectedTabButton' : ''"
                [disabled]="!characterId" (click)="changeTab(3)">Abilities</button>
                <button class="btn btn-block creationTabButton" [ngClass]="clickedTab == 4 ? 'selectedTabButton' : ''"
                [disabled]="!characterId" (click)="changeTab(4)">Features</button>
        </div>
    </nav>
    <app-character-basic [allClasses]="allClasses" [allRaces]="allRaces"
        *ngIf="clickedTab == 0" (characterCreated)="characterCreated($event)"></app-character-basic>
    <app-character-apperance *ngIf="clickedTab == 1" [characterId]="characterId"></app-character-apperance>
    <app-character-details *ngIf="clickedTab == 2" [characterId]="characterId"></app-character-details>
    <app-character-abilities *ngIf="clickedTab == 3" [characterId]="characterId"></app-character-abilities>
    <app-character-features *ngIf="clickedTab == 4" [characterId]="characterId" note="CharacterCreationFeatures"></app-character-features>
</div>