<nav class="navbar header navbar-expand-lg">
    <div class="container">
        <img [src]="diceIconPath" class="diceIcon mr-2" />
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link click" (mousedown)="home($event)">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link click" (mousedown)="races($event)">Races</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link click" (mousedown)="classes($event)">Classes</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link click" (mousedown)="traits($event)">Traits</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link click" (mousedown)="items($event)">Items</a>
                </li>
            </ul>
        </div>
        <div class="nav-login row click" (mousedown)="login($event)">
            <div>
                <a class="bi bi-person personIcon mr-5"></a>
                <span  [innerText]="currentUser ? currentUser.Username : 'Login'" class="loggedName underline"></span>
            </div>
        </div>
    </div>
</nav>
