<nav class="navbar header navbar-expand-lg">
    <div class="container">
        <img [src]="diceIconPath" class="diceIcon mr-2" />
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link click" (click)="home()">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link click" (click)="races()">Races</a>
                </li>
            </ul>
        </div>
        <div class="nav-login row click" (click)="login()">
            <div>
                <a class="bi bi-person personIcon mr-5"></a>
                <span  [innerText]="currentUser ? currentUser.Username : 'Login'" class="loggedName underline"></span>
            </div>
        </div>
    </div>
</nav>
