.classAccordion{
    display: inline-block;
    border-style: solid;
    border-color: #10002b;
    padding: 0.5rem;
}


.classDetailBox{
    border-style: solid;
    border-top-style: none;
    border-width: 1%;
    overflow-y: hidden;
    overflow-x: hidden;
}
