<div class="character-sheet-panel" *ngIf="load" [ngStyle]="{'border-color': classColor}">
    <div class="tabs" [ngStyle]="{'border-color': classColor}">
        <span *ngFor="let item of tabs; let i = index" [innerText]="item" (click)="pageClicked(i)" class="tab"
            [ngClass]="i == clickedIndex ? 'clickedTab' : ''" [ngStyle]="{'border-color': classColor}"></span>
    </div>
    <app-feature-panel *ngIf="clickedIndex == 2" [characterFeatures]="characterFeatures" [characterId]="characterId" ></app-feature-panel>
    <app-apperance-panel *ngIf="clickedIndex == 3" [characterApperance]="characterApperance" [classColor]="classColor"></app-apperance-panel>
    <app-description-panel *ngIf="clickedIndex == 4" [characterDescription]="characterDescription" [classColor]="classColor"></app-description-panel>
</div>