<div class="container item-page">
    <p [innerText]="filterToggle ? '- Filters' : '+ Filters'" class="header4 mbr2 click" (click)="filterToggleClick()">
    </p>
    <div class="row justify-content-start gap-5 mbr2 filterBox" [@filterToggle] *ngIf="filterToggle">
        <div class="col-sm-5">
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingName" placeholder="Item Name"
                    [(ngModel)]="filterName">
                <label for="floatingName">Item Name</label>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingCategory" placeholder="Category"
                    [(ngModel)]="filterCategory">
                <label for="floatingCategory">Category</label>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingType" placeholder="Type" [(ngModel)]="filterType">
                <label for="floatingType">Type</label>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingTags" placeholder="Tags" [(ngModel)]="filterTags">
                <label for="floatingTags">Tags</label>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingUsername" placeholder="Created By"
                    [(ngModel)]="filterUsername">
                <label for="floatingUsername">Created By</label>
            </div>
        </div>
        <div class="col-sm-5">
            <button class="btn btn-block addNewItemButton widthFull" (click)="search()">Search</button>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-sm">
            <app-pagination [pageSize]="20" [data]="filteredItems" (pageClicked)="pageChange($event)"></app-pagination>
        </div>
        <div class="col-sm">
            <button class="btn btn-block addNewItemButton" title="Add New Item" (click)="addNewItem()">+ Add New
                Item</button>
        </div>
    </div>
    <div class="row mtr2">
        <div *ngFor="let item of shownItems" class="col-sm-3 mbr2">
            <button class="btn btn-block itemButton" (mousedown)="itemSelect(item,$event)">
                <img [src]="item.HasImage ? itemImageBasePath + item.Id + '.png' : noImagePath "
                    class="responsiveIcon" />
                <span [innerText]="item.Name" class="itemButtonName"> </span>
                <span [innerText]="'Created By:' + item.Username" class="itemButtonUsername"></span>
            </button>
        </div>
    </div>
</div>

<app-item-sidebar *ngIf="sidebar" [item]="selectedItem" (closeClicked)="sideBarClosed()"></app-item-sidebar>