<div class="container center-it mt-48">
  <div
    class="bg-white shadow-2xl rounded px-24 pt-16 pb-16 border"
    [formGroup]="form"
  >
    <div>
      <label class="block text-gray-700 text-lg font-bold mb-2">
        Username / Email
      </label>
      <input
        class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        type="text"
        placeholder="Username / Email"
        formControlName="username"
        [(ngModel)]="username"
      />
    </div>
    <div class="mt-6">
      <label class="block text-gray-700 text-lg font-bold mb-2">
        Password
      </label>
      <input
        class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        type="text"
        placeholder="Password"
        formControlName="password"
        [(ngModel)]="password"
      />
    </div>
    <div class="mt-4 center-it">
      <button
        class="background-color-d-blue background-color-d-black-hover text-white font-bold py-2 px-4 border-b-4 border-color-d-black border-color-d-blue-hover rounded"
        (click)="signIn()"
      >
        Sign In
      </button>
    </div>
  </div>
</div>
<button (click)="tiny()">Tiny</button>
<button (click)="medium()">Medium</button>
<button (click)="large()">Large</button>
<button (click)="clear()">Clear</button>
<canvas width="6000" height="6000" style="border: 1px solid white;" id="fabricSurface"></canvas>
