<div class="login-page mt-5 container">
    <div class="row justify-content-center">
        <div style="width: 40%;" class="">
            <h3>Login</h3>
            <div class="mt-3">
                <label>Username</label>
                <input class="form-control" placeholder="Username"  required
                    [(ngModel)]="username">
            </div>
            <div class="mt-3">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Password" required [(ngModel)]="password">
            </div>
            <div class="form-check mt-3">
                <input class="form-check-input" type="checkbox" id="rememberMe" required [(ngModel)]="rememberMe">
                <label class="form-check-label" for="rememberMe">
                    Remember Me
                </label>
            </div>
            <div class="row justify-content-between">
                <button class="btn btn-primary mt-3" (click)="login()">Log In</button>
                <button  class="btn btn-primary mt-3" (click)="register()">Register</button>
            </div>
        </div>
    </div>
</div>