<div class="description-panel">
    <div>
        <p [ngStyle]="getHeaderStyle()" class="header">Background:</p>
        <span [innerText]="characterDescription.Background"></span>
    </div>
    <div>
        <p [ngStyle]="getHeaderStyle()" class="header">Alignment:</p>
        <span [innerText]="characterDescription.Alignment"></span>
    </div>
    <div>
        <p [ngStyle]="getHeaderStyle()" class="header">Faith:</p>
        <span [innerText]="characterDescription.Faith"></span>
    </div>
    <div>
        <p [ngStyle]="getHeaderStyle()" class="header">Personality Traits:</p>
        <span [innerText]="characterDescription.PersonalityTraits"></span>
    </div>
    <div>
        <p [ngStyle]="getHeaderStyle()" class="header">Ideals:</p>
        <span [innerText]="characterDescription.Ideals"></span>
    </div>
    <div>
        <p [ngStyle]="getHeaderStyle()" class="header">Bonds:</p>
        <span [innerText]="characterDescription.Bonds"></span>
    </div>
    <div>
        <p [ngStyle]="getHeaderStyle()" class="header">Flaws:</p>
        <span [innerText]="characterDescription.Flaws"></span>
    </div>
    <div>
        <p [ngStyle]="getHeaderStyle()" class="header">Organization:</p>
        <span [innerText]="characterDescription.Organization"></span>
    </div>
    <div>
        <p [ngStyle]="getHeaderStyle()" class="header">Allies:</p>
        <span [innerText]="characterDescription.Allies"></span>
    </div>
    <div>
        <p [ngStyle]="getHeaderStyle()" class="header">Enemies:</p>
        <span [innerText]="characterDescription.Enemies"></span>
    </div>
    <div>
        <p [ngStyle]="getHeaderStyle()" class="header">Backstory:</p>
        <span [innerText]="characterDescription.Backstory"></span>
    </div>
    <div>
        <p [ngStyle]="getHeaderStyle()" class="header">Note:</p>
        <span [innerText]="characterDescription.Note"></span>
    </div>
</div>
