<div class="apperance-panel">
    <div>
        <p [ngStyle]="getHeaderStyle()" class="header">Gender:</p>
        <span [innerText]="characterApperance.Gender"></span>
    </div>
    <div>
        <p [ngStyle]="getHeaderStyle()" class="header">Skin:</p>
        <span [innerText]="characterApperance.Skin"></span>
    </div>
    <div>
        <p [ngStyle]="getHeaderStyle()" class="header">Age:</p>
        <span [innerText]="characterApperance.Age"></span>
    </div>
    <div>
        <p [ngStyle]="getHeaderStyle()" class="header">Hair:</p>
        <span [innerText]="characterApperance.Hair"></span>
    </div>
    <div>
        <p [ngStyle]="getHeaderStyle()" class="header">Eyes:</p>
        <span [innerText]="characterApperance.Eyes"></span>
    </div>
    <div>
        <p [ngStyle]="getHeaderStyle()" class="header">Height:</p>
        <span [innerText]="characterApperance.Height"></span>
    </div>
    <div>
        <p [ngStyle]="getHeaderStyle()" class="header">Weight:</p>
        <span [innerText]="characterApperance.Weight"></span>
    </div>
    <div>
        <p [ngStyle]="getHeaderStyle()" class="header">Note:</p>
        <span [innerText]="characterApperance.Note"></span>
    </div>
</div>