<div
  class="background-color-d-blue p-25 text-white h-12"
>
  <div class="container">
      <!--#region Grid dropdown  -->
    <div class="dropdown inline-block relative">
      <button
        class="bg-transparent text-white font-semibold py-2 px-4 rounded inline-flex items-center"
      >
        <span class="mr-1">Grid Type</span>
        <i class="bi bi-arrow-down-short text-2xl"></i>
      </button>
      <ul class="dropdown-menu absolute hidden text-gray-700 pt-1">
        <li>
          <a
            class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
            ><i class="bi bi-x mr-2 my-auto"></i>None</a
          >
        </li>
        <li>
          <a
            class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
            ><i class="bi bi-grid-3x3-gap mr-2 my-auto"></i>Tiny</a
          >
        </li>
        <li>
          <a
            class="rounded-b bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
            ><i class="bi bi-grid mr-2 my-auto"></i>Medium</a
          >
        </li>
        <li>
          <a
            class="rounded-b bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
            ><i class="bi bi-square mr-2 my-auto"></i>Large</a
          >
        </li>
      </ul>
    </div>
      <!--#endregion -->
  </div>
</div>
