<ngx-smart-modal #featureModal identifier="featureModal" (onAnyCloseEvent)="onClose()" [customClass]="'featureModalCustom'">
    <div class="featureModal">
        <div class="row justify-content-start ">
            <button class="btn btn-block btn-success"  (click)="newFeature()">+ Feature</button>
        </div>
        <div *ngFor="let item of features; let i = index">
            <div class="row">

                <button class="btn btn-light mtr1 featureButton" (click)="changeCollapse(i + 1)">{{'Feature#' +
                    (i+1)}}</button>
                <button class="btn btn-light mtr1 featureRemoveButton" (click)="removeFeature(i)">X</button>
            </div>
            <div class="card card-body mbr1" *ngIf="(i + 1) == currentCollapse">
                <div class="row">
                    <div class="col-sm-4">
                        <ng-select bindValue="label" [items]="sectionOptions" [(ngModel)]="section[i]"
                            placeholder="section" ></ng-select>
                    </div>
                    <div class="col-sm-4">
                        <ng-select bindValue="label" [items]="typeOptions[section[i]]" [(ngModel)]="type[i]"
                            placeholder="type" [disabled]="!section[i]"></ng-select>
                    </div>
                    <div class="col-sm-4">
                        <ng-select bindValue="label" [(ngModel)]="value[i]" placeholder="value" [addTag]="true"
                            [disabled]="!type[i]"></ng-select>
                    </div>
                    <div class="col-sm-12">
                        <label>Note</label>
                        <input type="text" class="form-control widthFull" placeholder="Note" [(ngModel)]="note[i]">
                    </div>
                    <div class="row mtr1">
                        <div class="col-sm-3">
                            <strong class="requirementsHeader">Requirements</strong>
                        </div>
                        <div class="col-sm-3 offset-6">
                            <button class="btn btn-success" (click)="addRequirement(i)">Add Requirement</button>
                        </div>
                    </div>
                    <div *ngFor="let item of requirements[i]; let q = index">
                        <div class="row mtr1">
                            <div class="col-sm-3">
                                <ng-select bindValue="label" [items]="sectionOptions"
                                    [(ngModel)]="requirements[i][q].Section" placeholder="section">
                                </ng-select>
                            </div>
                            <div class="col-sm-4">
                                <ng-select bindValue="label"
                                    [items]="typeOptionsForRequirements[requirements[i][q].Section]"
                                    [(ngModel)]="requirements[i][q].Type" placeholder="type"
                                    [disabled]="!requirements[i][q].Section"></ng-select>
                            </div>
                            <div class="col-sm-4">
                                <ng-select bindValue="label" [(ngModel)]="requirements[i][q].Value" placeholder="value"
                                    [addTag]="true" [disabled]="!requirements[i][q].Type"></ng-select>
                            </div>
                            <div class="col-sm-1">
                                <button class="btn btn-light" title="Delete This Requirement"
                                    (click)="deleteRequirement(i,q)">X</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-start mtr1">
            <button class="btn btn-success" (click)="save()">Save</button>
        </div>
    </div>
</ngx-smart-modal>